/*RESET*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
    font-family: 'Montserrat', sans-serif;
}

.wrapperProductPage{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

    .host{
        display: flex;
        justify-content: space-between;

            .titleProduct{
                color: #FF6060;
                font-size: 36px;
                font-style: normal; 
                margin-bottom: 5px;
            }

        .hostProfil{
            display: flex;
            align-items: center;

            .hostName{
                width: 80px;
                text-align: right;
                color: #FF6060;
                text-align: right;
                font-size: 18px;
                font-style: normal;
            }

            .hostPicture{
                width: 70px;
                margin: 0 0 15px 10px;
                border-radius: 50%;
            }
        }
    }

    .tagsStarContainer{
        display: flex;
        justify-content: space-between;

        .tagsContainer{
            display: flex;
            align-items: center;
            gap: 10px;

            .tagsProduct{
                border-radius: 10px;
                background-color: #FF6060;
                color: #fff;
                padding: 3px 30px;
            }
        }

        .starContainer{
            display: flex;
            justify-content: flex-end;
        }
        .star{
            width: 25px;
            margin-left: 10px;
            color: #FF6060;
        }

        .starGray{
            width: 25px;
            margin-left: 10px;
            color: #ccc;
        }
    }

    .hostProfilMobile{
        display: none;
    }


    .descripEquipeContainer{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        .description, .equipement{
            text-align: left;
            width: 45%;
            margin-bottom: 5%;
        }
        }
    }
    

/*mobile*/
@media (max-width: 768px){
    .wrapperProductPage{
        display: flex;
        flex-wrap: wrap;


        .host{
            .titleProduct{
                width: 100%;
            }

            .locationProduct{
                font-size: 26px;
            }

            .hostProfil{
                display: none;
            }
        }
        .tagsStarContainer{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .tagsContainer{
                width: 80%;
                margin: 20px 0 0 0;
                padding-bottom: 10px;

                .tagsProduct{
                    padding: 3px 10px;
                }
            }

            .contentVersionMobile{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;


                .starContainer{
                    .star, .starGray{
                        width: 10px;
                    }
                }
                }
        
                .hostProfilMobile{
                    visibility: visible;
                    display: flex;
                    align-items: center;
                    
                    .hostNameMobile{
                        width: 80px;
                        text-align: right;
                        color: #FF6060;
                        text-align: right;
                        font-size: 18px;
                        font-style: normal;
                    }
        
                    .hostPictureMobile{
                        width: 70px;
                        margin: 0 0 15px 10px;
                        border-radius: 50%;
                    }
                }
            }

        .descripEquipeContainer{
            margin-top: 2px;
            display: flex;
            flex-direction: column;

            .description, .equipement{
                width: 100%;
            }
        }
    }
    }
